#env-board {
    display: grid;
    column-gap: 1px;
    row-gap: 1px;
}

.grid-square {
    height: 15px;
    width: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid gray;
    position: relative;
}

.cell {
    height: 100%;
    width: 100%;
    transform-origin: center;
    border-radius: 5%;
    background-color: #000;
}

.zone-0 {
    background-color: #f9ffc3
}

.zone-1 {
    background-color: #ffa2a2;
}

.zone-2 {
    background-color: #a3d3ff;
}

.zone-3 {
    background-color: #74c99a;
}